@model MFL.Web.Models.PlayerDetailsModel

@{
    ViewBag.Title = @Model.Name + " History";
    ViewBag.Menu = "Players";
}

<h2>@Model.Name's History</h2>

@foreach (var t in Model.Teams)
{
    Html.RenderPartial("_PlayerTeamSummary", t);
}