@model MFL.Web.Models.HomeModel

@{
    ViewBag.Title = "Home Page";
    ViewBag.Menu = "Home";
}

<div class="jumbotron">
    <h1>Movie Fantasy League</h1>
    <p class="lead">The site for picking movies and earning bragging rights with your friends.</p>
    <p><a href="@Url.Action("About", "Home")" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

@{Html.RenderPartial("_Standings", Model.Standings);}
