@model MFL.Web.Models.StandingsModel

<table class="tablesaw table-striped" data-mode="stack">
    <thead>
        <tr>
            <th>Player</th>
            <th>Progress</th>
            <th><div class="text-right">Total</div></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model.Standings)
        {
            <tr>
                <td>
                    <a href="@Url.Action("History", "Player", new { id = s.UserId })">@s.Name</a>
                </td>
                <td>
                    @s.Progess
                </td>
                <td>
                    <div class="text-right">
                        @s.Total.ToString("C")
                    </div>                    
                </td>
            </tr>
        }
    </tbody>
    <tfoot></tfoot>
</table>