@model MFL.Web.Models.StandingsModel

<h2>Standings for <a href="@Url.Action("Details", "Season", new { Id = Model.SeasonId })">@Model.SeasonName</a></h2>

<table class="tablesaw" data-mode="stack">
    <thead>
        <tr>
            <th>Player</th>
            <th>Progress</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var s in Model.Standings)
        {
            <tr>
                <td>
                    @s.Name
                </td>
                <td>
                    @s.Progess
                </td>
                <td>
                    $@s.Total.ToString()
                </td>
            </tr>
        }
    </tbody>
    <tfoot></tfoot>
</table>