/* Sticky footer styles
-------------------------------------------------- */
.footer { 
  bottom: 0;
  width: 100%;
  margin-top:60px;
  height: 60px;
  background-color: #f5f5f5;
}

a:visited:not(.btn) { 
    color: #551A8B; 
}

body > .container {
  padding: 60px 15px 0;
}

.bottom-line{
    padding-top:20px;
}

/* Login with Google style
*****************************************/
.googleButton{
    background-color:#db4c3f;
    padding:10px;
    margin-top:5px;
}

.googleButton a, a:hover, a:visited{
    color:white;
}

.hiddenForm{
    display:none;
}

/* LogOff Link
**********************************************/
.logOffLink, .logOffLink:visited, .logOffLink:hover{
    color:grey;
}

.bulletin
{
 background-color:#FFCCCC;
 padding:10px;
 border-left: 5px solid red;
 margin-top: 5px;
 margin-bottom: 5px;
}
.bulletin span
{
 font-weight:bold;
}
.message
{ 
 background-color:#E5ECF9;
 padding:10px;
 border-left: 5px solid blue;
 margin-top: 5px;
 margin-bottom: 5px;
}
.message span
{
 font-weight:bold;
}
.money
{
 background-color:#BAFFBA;
 padding:10px;
 border-left: 5px solid green;
 margin-top: 5px;
 margin-bottom: 5px;
}
.money span
{
 font-weight:bold;
}